{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 card mb-4  mt-3 left  top">
                <div class="card-body">
                    <h5 class="rtl" style="font-size: 2rem; font-weight: bold;">{% block title %} {{ post.title }} {% endblock title %}</h1>
                    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}" style="position: absolute; left: 40px; top: 20px;">
                        <span class="glyphicon glyphicon-remove">حذف</span>
                    </a>
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}" style="position: absolute; left: 105px; top: 20px;">
                        <span class="glyphicon glyphicon-pencil">ویرایش</span>
                    </a>
                    <p class="text-muted" style="direction: rtl; border-bottom: 0.5px solid lightgrey; padding-bottom: 10px;">
                        {{ post.published_date }}
                    </p>
                    <p class="card-text ">{{ post.text|linebreaksbr }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}